@tailwind base;
@tailwind components;
@tailwind utilities;

/* add the code bellow */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .bg-gradient {
    background: linear-gradient(to left bottom, #38304d, #2d223b);
  }
  .player {
    height: 60px; /* Adjust as needed */
    background-color: rgba(50, 50, 50, 0.8); /* Slightly transparent dark background */
  }
}
